<p id="notice"><%= notice %></p>

<p>
  <strong>Your original tweet:</strong>
  <%= @ttweet.tweet_body %>
</p>

<p>
  <strong>Your Trumped Up Tweet:</strong>
  <%= @ttweet.ttweet_body %>
</p>

<%= link_to 'Back', "/" %>
